@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing : border-box;
    overflow: hidden;
}
.item:nth-child(3) {
    border-top: 1px solid #e1e8ee;
    border-bottom: 1px solid #e1e8ee;
}